body{
   text-align: center;
}
div{
   height: 500px;
   width: 500px;
   border: 1px solid black;
   margin: auto;
   border-radius: 100%;
   /* box-shadow: 0 0 10px rgba(0, 0, 255, 0.7); */
}
button{
   border-radius: 25px;
}
p{
   display: inline-block;
   
}